- provide :title, "#{@user.name}の本棚"
= render 'info', user: @user

= form_for @review_search_form, url: user_path(@user), html: {method: :get} do |f|
  .search_form
    .field.search-field
      = f.search_field :keyword, placeholder: '本のタイトルで検索'
    .field
      = f.label :status, '読書状況'
      = f.select :status, Review.statuses, include_blank: '全て'
    .field
      = f.label :rank, '評価★'
      = f.select :rank, Review.ranks, include_blank: '全て'
    .field
      = f.label :category_id, 'カテゴリー'
      = f.collection_select :category_id, @user.categories, :id, :category_name, include_blank: '全て'
    .field
      = f.label :tag, 'タグ'
      = f.collection_select :tag_id, @user.tags.uniq, :id, :tag_name, include_blank: '全て'
    .actions.search-button
      = f.submit '検索'
.actions
  = button_to '検索条件をクリア', user_path(@user), method: :get

.book-shelf.clearfix
  - if @reviews.empty?
    %p 本がありません。
  - else
    - @reviews.each do |review|
      .book-item
        = link_to image_tag(review.book.medium_image), edit_book_review_path(review.book)
        .book-rank
          = rank_star(review)
