- title = user_signed_in? ? "#{current_user.name}さんのホーム" : "ホーム"
- provide :title, title
%h1= title

- if user_signed_in?
  = render 'users/info', user: current_user
  = render 'users/bookshelf_summary', user: current_user
  = render 'users/timeline', user: current_user
- else
  .hello
    .login
      %p.hello-message ようこそ、ブクログへ。 ブクログに登録している方は、下記からログインしてください。
      .actions
        = button_to 'ログインする', new_user_session_path, method: :get
    .register
      %p.hello-message まだ登録していない方はこちらから登録してください。登録は半熟たまごがゆであがるくらい（5分くらい）でできます。もちろん、無料です。
      .actions
        = button_to '新規登録する', new_user_registration_path, method: :get
