%h1 本の検索

= form_for @book_search_form, url: books_path, html: {method: :get} do |f|
  .search_form
    .field.search-field
      = f.search_field :keyword, placeholder: 'アイテムを検索'
    .actions.search-button
      = f.submit '検索'
%p.search-note
  まずは商品名、著者名、出版社名などを入力して検索してください。

%br

- if @books.present?
  %table
    %thead
      %tr
        %th 本棚
        %th 画像
        %th タイトル
        %th 著者
        %th ASIN
        %th 出版社
        %th 出版日
        %th 価格

    %tbody
      - @books.each do |book|
        %tr
          %td
            - if current_user.books.exists?(book)
              .actions{id: "book_#{book.asin}_update"}
                = button_to 'レビューを書く', edit_book_review_path(book), method: :get
              .actions.hidden{id: "book_#{book.asin}_create"}
                = button_to '本棚に登録', book_review_path(book), method: :post, remote: true
            - else
              .actions.hidden{id: "book_#{book.asin}_update"}
                = button_to 'レビューを書く', edit_book_review_path(book), method: :get
              .actions{id: "book_#{book.asin}_create"}
                = button_to '本棚に登録', book_review_path(book), method: :post, remote: true
          %td= link_to image_tag(book.small_image), book.url
          %td= link_to book.title, book.url
          %td= book.author
          %td= book.asin
          %td= book.publisher
          %td= book.published_at
          %td= book.price

  = paginate @books, :window => 10
