%h1 本の検索

= form_for(@book_search_form, url: books_path, method: :get) do |f|
  .search_form
    .field.search-field
      = f.search_field :keyword, placeholder: 'アイテムを検索'
    .actions.search-button
      = f.submit '検索'
%p.search-note
  まずは商品名、著者名、出版社名などを入力して検索してください。

%br

- if @books.present?
  .search-result
    - @books.each do |book|
      .result-item.clearfix
        .image-box
          .image= link_to image_tag(book.medium_image), book.url
        .info-box
          .book-info
            .title= link_to book.title, book.url
            .authors #{book.author} / #{book.publisher} / #{book.published_at} / #{number_to_currency book.price}
          .actions
            .update-review{id: "#{update_button_id(book)}", class: current_user.books.exists?(book) ? "shown" : "hidden"}
              = button_to 'レビューを書く', edit_book_review_path(book), method: :get
            .create-review{id: "#{create_button_id(book)}", class: current_user.books.exists?(book) ? "hidden" : "shown"}
              = button_to '本棚に登録', book_review_path(book), method: :post, remote: true

  = paginate @books, window: 10
