%h1 本の検索

%table
  %thead
    %tr
      %th 画像
      %th タイトル
      %th 著者
      %th ASIN
      %th 出版社
      %th 出版日
      %th 価格

  %tbody
    - @books.each do |book|
      %tr
        %td= link_to image_tag(book.image), book.url
        %td= link_to book.title, book.url
        %td= book.author
        %td= book.asin
        %td= book.publisher
        %td= book.published_at
        %td= book.price
