%h1 本の登録情報編集

%p#notice= notice

%p
  = link_to image_tag(@book.image), @book.url
%p
  %b タイトル:
  = @book.title
%p
  %b ASIN:
  = @book.asin
%p
  %b 著者:
  = @book.author
%p
  %b 出版社:
  = @book.publisher
%p
  %b 出版日:
  = @book.published_at
%p
  %b 値段:
  = @book.price

= link_to '本棚に登録', book_review_path(@book.asin), method: :post
= link_to '戻る', :back
