%h1 本棚

%table
  %thead
    %tr
      %th 読書状況
      %th 読了日
      %th 評価
      %th カテゴリー
      %th レビュー

  %tbody
    - @items.each do |item|
      %tr
        %td= item.status
        %td= item.read_at
        %td= item.rank
        %td= item.category_id
        %td= item.review
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
