= form_for(@category) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .field.category_input
    = f.label :category_name, 'カテゴリー名(25文字以内)'
    = f.text_field :category_name, placeholder: '例)恋愛小説、課題図書、自分ベスト１０など'
  .actions
    = f.submit 'カテゴリーを追加する'
