= form_for(@review, url: book_review_path(@review.book.asin), method: :patch) do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :status, 'ステータス'
    = f.select :status, Review.statuses.keys
  .field
    = f.label :read_at, '読了日'
    = f.date_select :read_at
  .field
    = f.label :rank, '評価★'
    = f.select :rank, Review.ranks.keys
  .field
    = f.label :category_id, 'カテゴリー'
    = f.number_field :category_id
  .field
    = f.label :text, 'レビュー・感想'
    = f.text_area :text
  .actions
    = f.submit 'レビューを更新する'
