%h1 レビューの編集・削除

.book_details.clearfix
  .image
    = link_to image_tag(@book.small_image), @book.url
  .body
    .title
      %p= @book.title
    .authors
      %p= @book.author

- if @review
  %p あなたの本棚に登録されている本のレビューを編集します。
  = form_for(@review, url: book_review_path(@review.book), method: :patch) do |f|
    - if @review.errors.any?
      #error_explanation
        %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
        %ul
          - @review.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :status, '読書状況'
      = f.select :status, Review.statuses.keys
    .field
      = f.label :read_at, '読了日'
      = f.date_field :read_at
    .field
      = f.label :rank, '評価★'
      = f.select :rank, Review.ranks.keys
    .field
      = f.label :category_id, 'カテゴリー'
      = f.collection_select :category_id, current_user.categories, :id, :category_name, include_blank: '-'
      = link_to 'カテゴリーを設定する', categories_path
    .field.tag_names
      = f.label :tag_names, 'タグ'
      %ul.list
        %li ※タグはカンマ(,)区切りで複数入力できます。
      = f.text_area :tag_names
    .field
      = f.label :text, 'レビュー・感想'
      = f.text_area :text
    .actions
      = f.submit 'レビューを更新する'

  .actions.delete-button
    = button_to '本棚から削除する', book_review_path(@review.book), method: :delete, data: { confirm: 'この操作は取り消せません。本当に削除しますか？' }

- else
  %p この本はあなたの本棚に入っていません。
  .actions
    = button_to '本棚に登録', book_review_path(@book), method: :post
