%h1 #{current_user.name}の本棚

%p 登録数:#{@reviews.size}

.book-shelf.clearfix
  - @reviews.each do |review|
    .book-item
      = link_to image_tag(review.book.medium_image), edit_book_review_path(review.book)

%table
  %thead
    %tr
      %th 画像
      %th タイトル
      %th 読書状況
      %th 読了日
      %th 評価
      %th カテゴリー
      %th レビュー
      %th
      %th
  %tbody
    - @reviews.each do |review|
      %tr
        %td= link_to image_tag(review.book.small_image), review.book.url
        %td= review.book.title
        %td= review.status
        %td= review.read_at
        %td= review.rank
        %td= review.category_id
        %td= review.text
        %td= link_to 'Edit', edit_book_review_path(review.book)
        %td= link_to 'Destroy', book_review_path(review.book), method: :delete, data: { confirm: 'Are you sure?' }
