.global-nav.clearfix
  .menu-nav
    %ul
      %li.nav-item= link_to "HOME", root_path
  .login-nav
    %ul
      - if user_signed_in?
        %li.nav-item= "#{current_user.name}さん"
        %li.nav-item= link_to '本を探す', books_path
        %li.nav-item= link_to 'ユーザを探す', users_path
        %li.nav-item= link_to '本棚', current_user
        %li.nav-item= link_to 'カテゴリー設定', categories_path
        %li.nav-item= link_to 'プロフィール', edit_user_registration_path
        %li.nav-item= link_to 'ログアウト', destroy_user_session_path, method: :delete
      - else
        %li.nav-item= link_to "登録", new_user_registration_path
        %li.nav-item= link_to "ログイン", new_user_session_path
