.global-nav.clearfix
  .menu-nav
    %ul
      %li.nav-item= link_to "HOME", "/"
  .login-nav
    %ul
      - if user_signed_in?
        %li.nav-item= current_user.email
        %li.nav-item= link_to '検索', books_search_path
        %li.nav-item= link_to '本棚', items_path
        %li.nav-item= link_to 'プロファイル', edit_user_registration_path
        %li.nav-item= link_to 'ログアウト', destroy_user_session_path, method: :delete
      - else
        %li.nav-item= link_to "登録", new_user_registration_path
        %li.nav-item= link_to "ログイン", new_user_session_path
.notice
  - if notice
    %p.alert.alert-success= notice
  - if alert
    %p.alert.alert-danger= alert
