!!!
%html
  %head
    %title= yield(:title).presence || "mybooklog"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track'
    = csrf_meta_tags
    = favicon_link_tag
  %body
    %header.header
      = render 'layouts/globalnav'
    %main.main.clearfix
      .notice
        - if notice
          .alert.alert-success= notice
        - if alert
          .alert.alert-danger= alert
      = yield
    %footer.footer
      = render 'layouts/footer'
