!!!
%html
  %head
    %title mybooklog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track'
    = csrf_meta_tags
  %body
    %header.header
      = render 'layouts/globalnav'
    %main.main.wrapper.clearfix
      = yield
    %footer.footer
      = render 'layouts/footer'
